section.app-container {
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    max-height: 100vh;
     overflow: hidden; 
}

.webcam, .captured-image {
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;  
    width: auto; 
    height: auto; 
    background-size: cover;  
    z-index: -100; 
}

.captured-image {
    z-index: 100;
}

.btn-capture {
    position: absolute;
    bottom: 30px;
    border-radius: 50%;
    background: rgba(255,255,255, 0.7);
    border: 2px solid white;
    width: 70px;
    height: 70px;
    margin-left: -35px;
    z-index: 10;
}

.close-btn {
    background: rgba(255,0,0, 0.2);
    color: white;
    font-size: 3em;
}

.nutrition-info {
    background-color: rgba(0,0,0, 0.7);
    padding: 20px;
    color: rgba(255,255,255, 0.7);
    height: 100%
}
.error {
    background: #EE3333;
    color: white;
    padding: 20px;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
}
/* 
back
save
+ - */



.nutritions-content > div{
    display: flex;
    justify-content: space-between;
    padding: 7px 0;
}